---
layout: archive
title: "<u>Research Summary</u>"
permalink: /research/
author_profile: true
redirect_from:
  - /research
---

{% include base_path %}
<!---There is now enough evidence that the global atmospheric temperature has been rising in response to anthropogenic greenhouse gas emissions. ---> 
The impact of rising global atmospheric temperatures is now visible in the increased land and ocean temperatures, sea-level rise, melting of glaciers, 
and more frequent and more extreme weather and climate events such as extreme heat, extreme precipitation, drought, flooding, etc.  
Such extreme events cause <a href="https://www.ncei.noaa.gov/access/billions/">billion-dollar losses </a> each year only in the U.S.. Therefore, there has been a growing demand for <em>actionable</em> 
climate science research that helps stakeholders (e.g., nations, city planners, water managers) make both real-time and long-term decisions 
based upon reliable projections/ predictions of extreme events on timescales from days to several years. However, several factors exacerbate 
the difficulty of this work, such as the highly uncertain nature of day-to-day weather, inadequate knowledge of the underlying physics, lack of observational data,
imperfect climate models, and limited computing power. 
I work broadly in the area of weather and climate extremes (e.g., rainfall and temperature extremes).
More specifically, my research focuses on the processes that lead to extreme rainfall and temperature events, 
detection and attribution of climate change, decadal predictability, future climate projections,
estimation of future intensity, duration, frequency (IDF) curves of precipitation, climate model evaluation, 
and co-production of actionable climate science. My research can be broadly divided into the following categories. 

<!---
Rising atmospheric temperature have caused increases in land and ocean temperatures, melting of glaciers and sea-ice, sea-level rise, 
and more frequent and extreme weather events such as flooding, droughts, and heatwaves. 
Such extreme events not only have significant economic cost, but are a force behind geo-political issues. 
Therefore, along with the pure scientific research, the scientific community is now turning its attention towards decision-relevant
climate science that helps in understanding and prediction of such extreme events on timescales from days to several years. 
This “actionable climate science” is of particular importance to stakeholders (e.g., nations, city planners, water managers)
when making both real-time and long-term decisions. However, several factors exacerbate the difficulty of this work, 
such as the highly uncertain nature of day-to-day weather, inadequate knowledge of the underlying physics, lack of observational data,
imperfect climate models, and limited computing power. 
I work broadly in the area of weather and climate extremes (e.g., rainfall and temperature extremes).
More specifically, my research focuses on the processes that lead to extreme rainfall and temperature events, 
detection and attribution of climate change, decadal predictability, future climate projections,
estimation of future intensity, duration, frequency (IDF) curves of precipitation, climate model evaluation, 
and co-production of actionable climate science. My research can be broadly divided into the following categories.  
--->


<h2>Global and Regional Climate Model Evaluation</h2>

While climate models generally predict an increase in the global mean precipitation in response to a human-caused increase in greenhouse gases,
their response is much more uncertain on local to regional scales. However, the projections of precipitation have significant uncertainty 
because of insufficient observational data, lack of complete knowledge of precipitation-related physical mechanisms, imperfect regional climate 
models, etc. 
In a series of publications, I have analyzed precipitation and its mean and extreme ETCCDI indices in recently available global and regional 
climate models. My analysis suggests that the models have made some progress in simulating precipitation quantities, but their performance 
varies spatially and temporally.
<br>


<!--
<h2>Images Side by Side</h2>
<p>How to create side-by-side images with the CSS float property:</p>
-->

<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50.00%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body>



 <!--
<div class="row">
  <div class="column">
    <img src="/images/CMIp61.jpg" alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img src="/images/annual_cycle_Florida.png" alt="Forest" style="width:100%">
  </div>
  <div class="column">
    <img src="/images/diurnal_cycle_WRF.png" alt="Mountains" style="width:100%">
  </div>
</div>
 --> 

<br>
  
<div class="row">
  <div class="column">
    <div class="row">
      <img src="/images/CMIp61.jpg" alt="Snow" style="width:85%">
    </div>
   </div>
   <div class="column">
      <div class="row">
        <img src="/images/annual_cycle_Florida.png" alt="Forest" style="width:85%">
      </div>
      <div class="row">
        <img src="/images/diurnal_cycle_WRF.png" alt="Mountains" style="width:85%">
      </div>
   </div>
 </div>


<figcaption>Left panel: Portrait diagrams of normalized RMSEs in the 1981–2005 climatologies of ETCCDI precipitation indices 
  (<a href="https://doi.org/10.1016/j.wace.2020.100268">published in 2020 in Weather and Climate Extremes</a>).
  Upper-right panel: Annual cycle of monthly precipitation in Florida 
  (<a href="https://doi.org/10.1007/s00382-021-05980-w">published in 2022 in Climate Dynamics</a>).
  Lower-right panel: Diurnal cycle of precipitation over CONUS in ERA5 and WRF 
  (<a href="https://doi.org/10.5194/egusphere-2022-1382">under review in Geoscientific Model Development</a>).</figcaption>
  
  
<h2>Reduction of uncertainty in intensity, duration and frequency (IDF) curves of precipitation</h2>
  
Traditional multimodel methods for estimating future changes in precipitation intensity, duration, and frequency (IDF) curves rely
  on mean or median of models’ IDF estimates. Such multimodel estimates are impaired  by large estimation uncertainty due to small
  sample size. My research shows that pooling model data can reduce bias and uncertainty in IDF estimates. 
  
 <br>
  
<div class="row">  
<figure>
<center><img src="/images/IDF_Florida.png" style="width:60%;"float:none""></center>
  <figcaption>Changes in 24-h precipitation (mm day−1) for 50-yr return periods in the Florida peninsula. Differences significant at the 
  5% significance level are shown as solid squares and those not significant at 5% are shown as blank circles. 
  (<a href="https://doi.org/10.1175/JHM-D-20-0180.1">published in 2021 in Journal of Hydrometeorology</a>).</figcaption>
 </div>
  
  <br>


<div align="left"><h2>Detection and attribution, and Future climate Projections</h2></div>  
  Reliable projections of future climate is a challenging problem because of small signal-to-noise ratio (SNR),
  attributed to large internal variability; and  lack of fine resolution climate information. Inspired by these limitations, my research involves (i) the application of sophisticated 
  statistical techniques that can maximize SNR and thus detect robust patterns of future changes in climate, and (ii) the use of state-of-the-art,
  cutting-edge regional climate models that can refine information at regional scales.
  
  <div class="row">
    <div class="column">
      <img src="/images/IDF_AR-NonAR_westUS.png" style="width:85%">
    </div>
    <div class="column">
      <img src="/images/JCLIM_Robust.jpg" style="width:85%">
    </div>
  </div>
  
  <figcaption>Left panel: Both the non-AR and Ar precipitation over the western US states will increase in future as projected in the variable-resolution  
  (<a href=" https://doi.org/10.1029/2020GL089096">published in 2020 in Geophysical Research Letters</a>).
  Right panel: The most detectable climate change pattern of JJAS mean South Asian summer monsoon precipitation (mm/day per unit variate) derived from 23 CMIP5 models for the twenty-first-century (RCP8.5) runs. 
  (<a href="https://doi.org/10.1175/JCLI-D-13-00599.1">published in Journal of Climate</a>).</figcaption>
  
<h2>Co-production of climate science</h2>  
  
Co-production is the principal mechanism through which stakeholders and scientists engage in a meaningful way to produce actionable and decision-relevant 
  climate scince. The important goals of the co-production are to invent stakeholder-relevant metrics for climate model evaluation and develop tools/ methods 
  for effective communication between climate scientists and stakeholders. My research involves the innovative use of metrics for climate model evaluation.
 
<br>
  
<div class="row">  
 <figure>
  <center><img src="/images/co_production_WiREScc.png" style="width:60%;"float:none""></center>
  <figcaption>Schematic diagram showing how metrics are used as essential tools for developing deciosion-relevant science through cyclic stakeholder-scientists engagement. 
  (<a href="https://doi.org/10.1002/wcc.799">published in 2022 in WIREs Climate Change</a>).</figcaption>
</div>
    
<h2>Decadal predictability</h2>
  Sources of decadal predictability often are divided into two kinds: predictability caused by external forcing, such as changes in solar insolation, 
  volcanic aerosols, and anthropogenic greenhouse gases, and predictability due to internal variability arising naturally from the 
  coupled atmosphere–ocean–land–ice climate system. The precise mechanisms for this decadal predictability are not clear, although the dynamics of ocean 
  circulation are widely believed to play a major role. My research shows that the most predictable components on decadal timescales in climate models with or without
  interactive ocean dynamics are similar. This suggests that ocean circulation may not be a dominant source of decadal predictability. 
  
<br>
  
  <div class="row">  
 <figure>
  <center><img src="/images/pnas.APT1.jpeg" style="width:60%;"float:none""></center>
  <figcaption>Most predictable component in coupled and slab models. Most predictable component is derived by maximizing the average predictability time (APT)
    separately in coupled and slab models
  (<a href="https://doi.org/10.1073/pnas.1614085114">published in 2017 in PNAS</a>).</figcaption>
</div>
  
<!--
Education
======
* B.S. in GitHub, GitHub University, 2012
* M.S. in Jekyll, GitHub University, 2014
* Ph.D in Version Control Theory, GitHub University, 2018 (expected)

Work experience
======
* Summer 2016: Research Assistant
  * Github University
  * Duties included: Tagging issues
  * Supervisor: Professor Git

* Fall 2015: Research Assistant
  * Github University
  * Duties included: Merging pull requests
  * Supervisor: Professor Hub
  
Skills
======
* Skill 1
* Skill 2
  * Sub-skill 2.1
  * Sub-skill 2.2
  * Sub-skill 2.3
* Skill 3

Publications
======
  <ul>{% for post in site.publications %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>
  
Talks
======
  <ul>{% for post in site.talks %}
    {% include archive-single-talk-cv.html %}
  {% endfor %}</ul>
  
Teaching
======
  <ul>{% for post in site.teaching %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>
  
Service and leadership
======
* Currently signed in to 43 different slack teams
-->
