---
layout: archive
title: "Research Summary"
permalink: /research/
author_profile: true
redirect_from:
  - /resume
---

{% include base_path %}

Rising atmospheric temperature have caused increases in land and ocean temperatures, melting of glaciers and sea-ice, sea-level rise, 
and more frequent and extreme weather events such as flooding, droughts, and heatwaves. 
Such extreme events not only have significant economic cost, but are a force behind geo-political issues. 
Therefore, along with the pure scientific research, the scientific community is now turning its attention towards decision-relevant
climate science that helps in understanding and prediction of such extreme events on timescales from days to several years. 
This “actionable climate science” is of particular importance to stakeholders (e.g., nations, city planners, water managers)
when making both real-time and long-term decisions. However, several factors exacerbate the difficulty of this work, 
such as the highly uncertain nature of day-to-day weather, inadequate knowledge of the underlying physics, lack of observational data,
imperfect climate models, and limited computing power. 
I work broadly in the area of weather and climate extremes (e.g., rainfall and temperature extremes).
More specifically, my research focuses on the processes that lead to extreme rainfall and temperature events, 
detection and attribution of climate change, decadal predictability, future climate projections,
estimation of future intensity, duration, frequency (IDF) curves of precipitation, climate model evaluation, 
and co-production of actionable climate science. My research can be broadly divided into the following categories.  


<h2>Global and Regional Climate Model Evaluation</h2>

While climate models generally predict an increase in the global mean precipitation in response to a human-caused increase in greenhouse gases, 
the response of both the mean and extreme precipitation is much more uncertain on local to regional scales. Stakeholders need reliable future projections 
of precipitation.
<!-- Moreover, the sign and magnitude of change in the mean precipitation may differ from that in the extreme precipitation. 
Depending upon the changing characteristics of precipitation, a region may face both an increased risk of flooding and drought.   
 Since these extreme changes in precipitation character have implications for impact, adaption, and vulnerability, 
there has been growing demand from local stakeholders (e.g., water managers) for reliable future projections of both mean and extreme precipitation
on fine spatial scales (of the order of a few kilometers). -->
However, the projections of precipitation have significant uncertainty because of insufficient observational data, 
lack of complete knowledge of precipitation-related physical mechanisms, imperfect regional climate models, etc. 
<!--From the stakeholders’ perspective of impact, adaption, and vulnerability, work is needed to develop new metrics for evaluating regional climate models,
using those metrics for projecting future changes in precipitation, and finding new methods to reduce projection uncertainty. -->
In a series of publications, I have analyzed precipitation and its mean and extreme ETCCDI indices in recently available global
and regional climate models. My analysis suggests that the models have made some progress in simulating precipitation quantities,
but their performance varies spatially and temporally.


<!-- <h2>Images Side by Side</h2>
<p>How to create side-by-side images with the CSS float property:</p>
-->

<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body>

<div class="row">
  <div class="column">
    <img src="/images/CMIp61.jpg" alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img src="/images/annual_cycle_Florida.png" alt="Forest" style="width:100%">
  </div>
  <div class="column">
    <img src="/images/diurnal_cycle_WRF.png" alt="Mountains" style="width:100%">
  </div>
</div>

<p>Left panel: Portrait diagrams of normalized RMSEs in the 1981–2005 climatologies of ETCCDI precipitation indices 
  (<a href="https://doi.org/10.1016/j.wace.2020.100268">published in 2020 in Weather and Climate Extremes</a>).
  Middle panel: Annual cycle of monthly precipitation in Florida 
  (<a href="https://doi.org/10.1007/s00382-021-05980-w">published in 2022 in Climate Dynamics</a>).
  Right panel: Diurnal cycle of precipitation over CONUS in ERA5 and WRF 
  (<a href="https://doi.org/10.5194/egusphere-2022-1382">under review in Geoscientific Model Development</a>).</p>
  
  
<h2>Reduction of uncertainty in intensity, duration and frequency (IDF) curves of precipitation</h2>
  
Traditional multimodel methods for estimating future changes in precipitation intensity, duration, and frequency (IDF) curves rely
  on mean or median of models’ IDF estimates. Such multimodel estimates are impaired  by large estimation uncertainty due to small
  sample size. My research shows that pooling model data can reduce bias and uncertainty in IDF estimates. 
  
<figure>
<img src="/images/IDF_Florida.png" style="width:50%;"float:left"">
 Changes in 24-h precipitation (mm/day) for 50-yr return periods in the Florida peninsula. Differences significant at the 
  5% significance level are shown as solid squares and those not significant at 5% are shown as blank circles. 
  <a href="https://doi.org/10.1175/JHM-D-20-0180.1">published in 2021 in Journal of Hydrometeorology</a>.
<!-- <figcaption>Changes in 24-h precipitation (mm day−1) for 50-yr return periods in the Florida peninsula. Differences significant at the 
  5% significance level are shown as solid squares and those not significant at 5% are shown as blank circles. 
  (<a href="https://doi.org/10.1175/JHM-D-20-0180.1">published in 2021 in Journal of Hydrometeorology</a>).  -->
  
<h2>Future climate Projections</h2>  
 
  
<h2>Co-production of climate science</h2>
  
  
<!--
Education
======
* B.S. in GitHub, GitHub University, 2012
* M.S. in Jekyll, GitHub University, 2014
* Ph.D in Version Control Theory, GitHub University, 2018 (expected)

Work experience
======
* Summer 2016: Research Assistant
  * Github University
  * Duties included: Tagging issues
  * Supervisor: Professor Git

* Fall 2015: Research Assistant
  * Github University
  * Duties included: Merging pull requests
  * Supervisor: Professor Hub
  
Skills
======
* Skill 1
* Skill 2
  * Sub-skill 2.1
  * Sub-skill 2.2
  * Sub-skill 2.3
* Skill 3

Publications
======
  <ul>{% for post in site.publications %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>
  
Talks
======
  <ul>{% for post in site.talks %}
    {% include archive-single-talk-cv.html %}
  {% endfor %}</ul>
  
Teaching
======
  <ul>{% for post in site.teaching %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>
  
Service and leadership
======
* Currently signed in to 43 different slack teams
-->
